# Import Libraries

In [1]:
# dataframe libraries
import pandas as pd
import numpy as np

# model load
import pickle

# Input Data Inference

In [2]:
# input new data
data_inf ={
    'BALANCE': {0: 1161.581535, 1: 843.584041, 2: 1300.979916, 3: 5100.0},
    'BALANCE_FREQUENCY': {0: 0.145, 1: 0.575, 2: 0.525, 3: 0.600},
    'PURCHASES': {0: 300.0, 1: 123.0, 2: 180.0, 3: 250.0},
    'ONEOFF_PURCHASES': {0: 101.0, 1: 103.0, 2: 60.0, 3: 75.0},
    'INSTALLMENTS_PURCHASES': {0: 100.0, 1: 80.0, 2: 120.0, 3: 150.0},
    'CASH_ADVANCE': {0: 1259.0, 1: 598.0, 2: 2019.0, 3: 1200.0},
    'PURCHASES_FREQUENCY': {0: 0.325, 1: 0.425, 2: 0.825, 3: 0.300},
    'ONEOFF_PURCHASES_FREQUENCY': {0: 0.0, 1: 0.0, 2: 0.225, 3: 0.150},
    'PURCHASES_INSTALLMENTS_FREQUENCY': {0: 0.225, 1: 110.0, 2: 0.0, 3: 0.200},
    'CASH_ADVANCE_FREQUENCY': {0: 0.344, 1: 0.291, 2: 0.410, 3: 0.350},
    'CASH_ADVANCE_TRX': {0: 1, 1: 7, 2: 11, 3: 5},
    'PURCHASES_TRX': {0: 5, 1: 1, 2: 10, 3: 6},
    'CREDIT_LIMIT': {0: 1900.0, 1: 2000.0, 2: 3400.0, 3: 2500.0},
    'PAYMENTS': {0: 1098.0, 1: 540.325023, 2: 896.0, 3: 700.0},
    'MINIMUM_PAYMENTS': {0: 219, 1: 710.484825, 2: 575, 3: 450},
    'PRC_FULL_PAYMENT': {0: 0.1, 1: 0.2, 2: 0.0, 3: 0.3},
}

Melakukan input data dengan nilai yang belum pernah dilihat oleh model

# Model Loading

In [3]:
# load model
with open('model.pkl', 'rb') as file:
    model = pickle.load(file)

# Prediction

In [4]:
# convert dict into a dataframe
data_inf = pd.DataFrame(data_inf)
data_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,1161.581535,0.145,300.0,101.0,100.0,1259.0,0.325,0.000,0.225,0.344,1,5,1900.0,1098.000000,219.000000,0.1
1,843.584041,0.575,123.0,103.0,80.0,598.0,0.425,0.000,110.000,0.291,7,1,2000.0,540.325023,710.484825,0.2
2,1300.979916,0.525,180.0,60.0,120.0,2019.0,0.825,0.225,0.000,0.410,11,10,3400.0,896.000000,575.000000,0.0
3,5100.000000,0.600,250.0,75.0,150.0,1200.0,0.300,0.150,0.200,0.350,5,6,2500.0,700.000000,450.000000,0.3

In [5]:
# predict
predictions = model.predict(data_inf)
print(predictions)

[1 2 3 1]

Model berhasil mengkategorikan atau memberi cluster terdapat 4 customer diatas dimana:
- Customer dengan ID 188 termasuk kedalam cluster no 1 atau Low Financial Activity User
- Customer dengan ID 1302 termasuk kedalam cluster no 2 atau Mid Financial Activity User
- Customer dengan ID 2122 termasuk kedalam cluster no 3 atau Low spender / Activity user
- Customer dengan ID 2500 termasuk kedalam cluster no 1 atau Low Financial Activity User